modules/*
!modules/topic
!modules/topic/*
!modules/rooms
!modules/rooms/*
!modules/helper
!modules/helper/*
!modules/credits
!modules/credits/*
!modules/config
!modules/config/*
!modules/admin
!modules/admin/*
cache/*
logs/*
config.php
.project
.buildpath
.settings
